*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family:"arcade";
    src: url( "fuentes/arcade.ttf")
}


.contenedor{
    background: rgba(165, 154, 154, 0.808);
    width: 90%;
    max-width: 1300px;
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    background-image: url("imagenes/header.jpeg");
    
}

body{
    background:white ;
    background: url("imagenes/space\ ivader\ 2.jpg")
}

.titulo{
    font-family:"arcade";
    src: url("fuentes/arcade.ttf");
    color: rgb(77, 7, 156);
}

header{
    background: black;
    width: 100%;
    padding: 20px;
    max-width: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#header{
    width: 15%;
    padding: 2px;
}

ul{
    list-style: none;
}

.menu li a{
    background: black;
    color: blanchedalmond;
    text-decoration: none;
    padding: 8px 12px;
    display: block;
    text-align: center;
}

.menu li a:hover{
    background:rgb(255, 2, 213) ;
    border-radius: 5px;
}


.menu li ul{
    width: 140px;
    position: absolute;
    min-width: 140px;
    display: none;
}

.menu li:hover>ul{
    display: block;
}

.menu li ul li{
    position: relative;
    right: -100px;
}

.menu li ul li ul{
    right: 30px;
    top: 0;
}

header .logo{
    color: white;
    font-size: 30px;
}

header .logo img{
    width: 100px;
    vertical-align: top;
}

header .logo a{
    color: rgb(1, 255, 22);
    text-decoration: none;
    line-height: 50px;
    font-family:"arcade" ;
    border-radius: 5px;
}

header nav{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

header nav a{
    background: rgb(255, 2, 213);
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    flex-grow: 1;
    margin: 2px;
    border-radius: 5px;
   
}

header nav a:hover{
    background: rgb(132, 3, 158);
    border-radius: 5px;
}

.main{
    background: rgb(209, 196, 196);
    padding: 20px;
    flex: 1 70%;
    align-items: right;
  
}

.main article{
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.main article :nth-child(1){
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
}


footer{
    background: black;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: left;
}

footer .links{
    background: rgb(255, 2, 213);
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    
}

footer .links a{
    flex-grow: 1;
    color: white;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    margin: 2px;
}

footer .links a:hover{
    background: rgb(132, 3, 158);
    border-radius: 5px;
}

footer .redes{
    background:rgb(1, 255, 22);
    border-radius: 5px;
}

footer .redes a{
    color: white;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}

footer .redes a:hover{
    background: rgb(5, 77, 3);
}

.imagen{
    width:180px ;
    height:1700px ;
}

article img{
    width:350px;
    height:250px
}

p{
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width:900px){

    .menu li a{
        padding: 6px 4px;
    }
   
    .contenedor{
        flex-direction:row;
    }

    header{
        flex-direction: column;
        padding: 0;
    }

    header .logo{
        margin: 20px 0;
    }

    header nav{
        width: 100%;
    }

    
    }
    .imagen{
        width:180px ;
        height:1600px ;
}

    

@media screen and (max-width: 700px){
    
    .imagen{
        width: 100%;
        height: auto;
    }

    .gif{
        width: 100%;
        height: auto;
    }

    .contenedor{
        flex-direction: column;
    }
    
    #header{
        flex-direction: column;
        width: 100%;
        justify-content:center
        
    }
    header.nav{

        flex-direction: column;
    }
    
    footer{
        justify-content: space-around;
    }

    footer.redes{
        margin:10px;
        padding:2px
    }

    article img{
        width: 100%;
        height: auto;
    }

    

    .titulo{
        font-size: 15px;
    }

    header .logo a{
        font-size: 20px;
       
    }
}

